<div class="main">
    <header class="header">
        <h2>Cloud Banking Solutions</h2>
        <img src="./images/pbm-logo.png" width="40px" />
        <div class="header-rhs-section">
            <div class="dark-mode">
                <input id="dark-mode-chkbx" type="checkbox" />
                <i class="fa-solid fa-sun fa-lg"></i>
            </div>
            <div class="profile-div">
                <p>{{username}}</p>
                <i class="fa-solid fa-user"></i>
                <a routerLink="/login"><button id="profile-logout-btn">
                    <i class="fa-solid fa-right-from-bracket fa-lg"></i>
                </button></a>
            </div>
        </div>
    </header>
</div>
